<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lym.image.select">

    <application>
        <activity
            android:name=".ui.SelectImageActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.PreviewImageActivity" />
        <activity
            android:name=".ui.CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
    </application>

</manifest>
